name: 'CI'

on:
  push:
    branches: [main]
    
  pull_request:
    branches: [main]

env:
  DENO_DIR: ~/.deno-cache

jobs:
  ci:
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        deno-version: [1.41.3]
      
    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup Deno ${{ matrix.deno-version }}
          uses: denoland/setup-deno@v1
          with:
            deno-version: ${{ matrix.deno-version }}

        - name: Deno Lint
          run: deno lint
          continue-on-error: true

        - name: Deno Format
          run: deno fmt --check
          continue-on-error: true

        - name: Deno Info
          run: deno info src/index.ts

        - name: Deno Compile [windows]
          run: deno task compile-win

        - name: Deno Compile [macos]
          run: deno task compile-macos

        - name: Deno Compile [linux]
          run: deno task compile-linux

        - name: Cache Deno dependencies 
          uses: actions/cache@v3
          with:
            path: ${{ env.DENO_DIR }}
            key: ${{ hashFiles('deno.lock') }}
